
$bodyBg : hsl(222, 53%, 49%);
$textColor_1 : white;
$pageLink : #61dafb;
$cardShadow : rgba(0, 0, 0, 0.281) 0px 3px 10px;
$cardShadowHover : rgba(0, 0, 0, 0.308) 0px 3px 10px;
$cardTextShadow : 1px 1px 1px rgba(0, 0, 0, 0.404);
$mobileWidth : 768px;


@mixin blurredLinesMix {
  filter: blur(4px);
  opacity: 0.8;
  transform-origin: center center;
  transform: scale(0.9);
}

@mixin cardMix {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.625;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  text-align: left;

  position: relative;
  border-radius: 0.5rem;
  padding: 2rem;
  background: linear-gradient(to right, rgb(212, 20, 90) 0%, rgb(251, 176, 59) 100%);
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important; */
  /* padding-top: 4rem;
  padding-bottom: 4rem; */
  text-decoration: none;
  /* transform: translateY(-5px); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  color: white !important;
  z-index: 2;
  transition: all 0.2s !important;    
  cursor: pointer;
  box-shadow: $cardShadow;
  text-shadow: $cardTextShadow;
  width: 300px;
  height: 200px;
  opacity:1;
}

@mixin cardOverMix {
    z-index: 3;
    box-shadow:  $cardShadowHover ;
    transform-origin: center center;
    transform: scale(1.05);
}

body {
    background-color: $bodyBg ;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .Page {
    text-align: center;
  }

  .React-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .React-logo {
      animation: React-logo-spin infinite 20s linear;
    }
  }

  .Page-header {
 
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $textColor_1 ;
    z-index: 3;  
    position: relative;
    padding: 0 50px;
  }

  .Page-link {
    color: $pageLink;
  }

  @keyframes React-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .cardsSection{

    display: flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
    max-width: 1400px; 
    line-height: 1.625;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    margin: 0 auto;
  }

  .card {

    @include cardMix;

        h2{
            line-height: 28px;
        }
    
    
    }

    

.blurredlines{

  @include blurredLinesMix;
    
}

  
 .cardHover {    

  @include cardMix;

  @include cardOverMix;

    
  }
  
  @keyframes cardOpenAnim {
    from {height: 300px;}
    to {height: 500px;}
  }
  
  @keyframes cardState_3_Anim {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes cardPopAnim {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  

  
.bgStyle{  

    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.625;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--theme-ui-colors-text);
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    background: linear-gradient(to right, slateblue 0%, deepskyblue 100%);
    clip-path: polygon(0px 15%, 100% 25%, 100% 85%, 0px 75%);
    position: absolute;
    inset: 0px;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    width: 100%;
    height: 2148px;
    transform: translate3d(0px, 160px, 0px);
    z-index: 1;
  }

  
/* - - - - - -  - -*/
.descriptionCard{ 

    display: block;
  
}


.cardPop{
  
  position: relative;
  /* width: 100%;
  top: 0;
  right: 0; */
  /* transform: translateX(53px) translateY(0px) scaleX(1) scaleY(1) translateZ(10px); */
  z-index: 100000;
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  width: 100%;
  color: white !important;
  /* border-radius: 0 0 5px 5px; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
 
  animation-name: cardPopAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  -webkit-clip-path: polygon(0px 15%, 100% 25%, 100% 85%, 0px 75%);
  clip-path: polygon(0px 15%, 100% 25%, 100% 85%, 0px 75%);
  

  

}

.wrapperCardPop{
  padding: 15px;
}


.readMore{

  position:absolute;
  bottom:0;
  right: 10px;
  margin: 0 10px 10px;

}




.card img, .cardPop img {
  width: 100%;
}


.homeIcon  {  
   float: right;
  cursor: pointer;
  z-index: 10000000000;

  svg {  
    fill: #FFF;   
    width: 30px;
    height: 30px;
    margin: 15px;
  }
  
}



@media only screen and  (max-width:$mobileWidth) {

.cardsSection{
  /* grid-template-columns: unset; */
  }


  .card{
    /*default settings for mobile .card class include the mixin blurredLinesMix */
    @include blurredLinesMix;
    width: 100%;
    
  }

  .inTheMiddle{
    @include cardMix;
    @include cardOverMix;
  }

  .cardHover {  
      width: 100%;
    }
  
}
  